.header {
  padding: 30px 0;
  &__logo {
    width: 100px;
  }
  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    &-left {
      justify-content: space-between;
      align-items: center;
      display: flex;
      column-gap: 20px;
    }
    &-right {
      justify-content: flex-end;
      align-items: center;
      display: flex;
      column-gap: 20px;
      width: 612.01px;
    }
  }
  &__balance {
    height: 66px;
    width: 180.57px;
    background: linear-gradient(90deg, rgba(0, 204, 113, 0.5) 0%, rgba(20, 47, 58, 0.5) 100%);
    border-radius: 54.14px;
    justify-content: left;
    align-items: center;
    column-gap: 20px;
    display: flex;
    padding: 0 20px;
    &-title{
      font-size: 20.46px;
      font-weight: 400;
      color: white;
    }
    &-total {
      color: white;
      font-size: 20.46px;
      font-weight: 600;
    }
  }
  &__help-btn {
    justify-content: flex-start;
    align-items: center;
    display: flex;

    column-gap: 27px;
    width: 195.78px;
    height: 66px;
    padding: 0 12px;
    border-radius: 54.14px;
    border: 1px solid white;
    font-family: Monserrat, sans-serif;
    background: transparent;
    svg {
      width: 36.66px;
      height: 36.66px;
    }
    span {
      font-size: 25.27px;
      font-weight: 500;
      color: white;
    }
  }
  &__close-btn {
    width: 66.33px;
    height: 66.33px;
    background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
    border: none;
    border-radius: 12.31px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 9.97px;
      height: 45.44px;
      border-radius: 13.95px;
      border: none;
      background: white;
      display: inline-block;
      transform: rotate(50deg);
      &:after {
        content: '';
        width: 9.97px;
        height: 45.44px;
        border-radius: 13.95px;
        border: none;
        background: white;
        display: inline-block;
        transform: rotate(80deg);
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
    &__balance {
      height: 59px;
      width: 150.57px;
      &__title {
        font-size: 18.46px;
      }
      &-total {
        font-size: 15.46px;
      }
    }
    &__chips svg {

      width: 30px;
      height: 30px;
    }
    &__help-btn {
      width: 155.78px;;
      height: 59px;
      svg {
        width: 30.66px;
        height: 30.66px;
      }
      span {
        font-size: 18.27px;
      }
    }
    &__close-btn {
      height: 59px;
      width: 59px;
      span {
        width: 6.97px;
        height: 45.44px;
        &:after {
          width: 6.97px;
          height: 45.44px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__wrapper {
      &-left {
        display: block;
      }
    }
    &__balance {

      height: 36px;
      width: 100.57px;
      column-gap: 10px;
      &-title {
        font-size: 11.46px;
      }
    }
    &__chips svg {
      width: 20px;
      height: 20px;
    }
    &__help-btn {
      width: 130.78px;
      height: 50px;
      column-gap: 10px;
      svg {
        width: 20.66px;
        height: 20.66px;
      }
    }
    &__close-btn {
      width: 50px;
      height: 50px;
      span {
        width: 5px;
        height: 35px;
        &:after {
          width: 5px;
          height: 35px;
        }
      }
    }
  }
}

@media (max-width: 480px) {

  .header {
    padding: 15px 0;

    &__logo {
      display: none;
    }
    &__balance {
      padding: 0 5px;
      height: 31px;
      width: 60.57px;
      column-gap: 5px;
      &-title {
        font-size: 8px;
      }
      &-total {
        font-size: 8px;
      }
    }
    &__chips svg {
      width: 14px;
      height: 14px;
    }
    &__help-btn {
    width: 99.78px;
    height: 36px;
    column-gap: 5px;
      span {
        font-size: 14px;
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }
    &__close-btn {
      width: 36px;
      height: 36px;
      span {
        width: 3px;
        height: 25px;
        &:after {
          width: 3px;
          height: 25px;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .header {

    &__logo {
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .header {
    &__logo {
      display: none;
    }
    &__help-btn {
      padding: 3px 0 0;
      width: 36px;
      height: 36px;
      border: none;
      flex-direction: column;
      svg {
        width: 20px;
        height: 20px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}