.header {
  padding: 30px 0;
  &__logo {
    width: 100px;
  }
  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    &-left {
      justify-content: space-between;
      align-items: center;
      display: flex;
      column-gap: 20px;
    }
    &-right {
      justify-content: flex-end;
      align-items: center;
      display: flex;
      column-gap: 20px;
      width: 612.01px;
    }
  }
  &__balance {
    height: 66px;
    width: 180.57px;
    background: linear-gradient(90deg, rgba(0, 204, 113, 0.5) 0%, rgba(20, 47, 58, 0.5) 100%);
    border-radius: 54.14px;
    justify-content: left;
    align-items: center;
    column-gap: 20px;
    display: flex;
    padding: 0 20px;
    &-title{
      font-size: 20.46px;
      font-weight: 400;
      color: white;
    }
    &-total {
      color: white;
      font-size: 20.46px;
      font-weight: 600;
    }
  }
  &__help-btn {
    justify-content: flex-start;
    align-items: center;
    display: flex;

    column-gap: 27px;
    width: 195.78px;
    height: 66px;
    padding: 0 12px;
    border-radius: 54.14px;
    border: 1px solid white;
    font-family: Monserrat, sans-serif;
    background: transparent;
    svg {
      width: 36.66px;
      height: 36.66px;
    }
    span {
      font-size: 25.27px;
      font-weight: 500;
      color: white;
    }
  }
  &__close-btn {
    width: 66.33px;
    height: 66.33px;
    background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
    border: none;
    border-radius: 12.31px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      width: 9.97px;
      height: 45.44px;
      border-radius: 13.95px;
      border: none;
      background: white;
      display: inline-block;
      transform: rotate(50deg);
      &:after {
        content: '';
        width: 9.97px;
        height: 45.44px;
        border-radius: 13.95px;
        border: none;
        background: white;
        display: inline-block;
        transform: rotate(80deg);
      }
    }
  }
}

@media (max-width: 767px) {
    .header {
      &__wrapper {
        &-left {
          display: inline;
        }
      }
      &__balance {
        width: 100px;
        height: 42px;
        column-gap: 10px;
        &-title {
          font-size: 10px;
        }
        &-total {
          font-size: 10px;
        }
      }
      &__chips svg {
        width: 25px;
        height: 25px;
      }
    }
}

@media (max-width: 425px) {
  .header {
    &__help-btn {
      width: 50px;
      height: 50px;
      border: 1px solid white;
      span {
        display: none;
      }
      svg {
        width: 50px;
        height: 50px;
      }
    }
    &__close-btn {
      width: 50px;
      height: 50px;
      span {
        width: 4.97px;
        height: 35.44px;
        border: none;
        background: white;
        display: inline-block;
        transform: rotate(50deg);
        &:after {
          content: '';
          width: 4.97px;
          height: 35.44px;
          border-radius: 13.95px;
          border: none;
          background: white;
          display: inline-block;
          transform: rotate(80deg);
        }
      }
    }
  }
}