.information {
  &__title {
    font-size: 50px;
    color: white;
    font-family: Stapel, sans-serif;
    padding: 10px 20px;
  }
  &__desc {
    font-weight: 400;
    font-size: 20px;
    padding: 0 20px;
    color: white;
  }
  &__block {
    padding: 30px 20px;
  }
  &__price {
    padding: 10px 0;
    font-size: 29px;
    color: white;
    &-block {
      width: 285px;
      height: 129px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
      border-radius: 20px;
      display: flex;
      column-gap: 20px;
      justify-content: center;
      padding: 20px 0;
    }
  }
  &__logo {
    display: none;
  }
}

.play {
  padding: 0 50px;
  transform: translate(-0px, -100%);
  width: 285px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: linear-gradient(267.51deg, #FFCB00 0%, #FF9900 85.79%);
  border-radius: 65.89px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: 1s;
}
.play:hover {
  transition: 1s;
  background: white;
  color: #ffcb00;
}

@media (max-width: 767px) {
  .information {
    &__title {
      font-size: 24px;
      text-align: center;
    }
    &__desc {
      font-size: 14px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .information {
    &__logo {
      display: block;
      margin: 0 auto;
      width: 190px;
    }
  }
}


@media (max-width: 425px) {
  .information {
    &__logo {

      width: 160px;
      padding: 20px 0;
    }
    &__title {
      padding: 0 0 10px;
      font-size: 16px;
    }
    &__block {

      padding: 30px 40px;
    }
  }
}

@media (max-width: 375px) {
  .information {
    &__block {
      padding: 30px 58px;
    }
    &__price {
      &-block {
        width: 200px;
        padding: 15px 40px;
      }
    }
  }
  .play {
    width: 203px;
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  .information {
    &__logo {
      width: 100px;
    }
    &__title {
    }
    &__desc {
      font-size: 13px;
    }
  }
}