.information {
  &__title {
    font-size: 50px;
    color: white;
    font-family: Stapel, sans-serif;
    padding: 10px 20px;
  }
  &__desc {
    font-weight: 400;
    font-size: 20px;
    padding: 0 20px;
    color: white;
  }
  &__block {
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  &__price {
    padding: 10px 0;
    font-size: 29px;
    color: white;
    &-block {
      width: 285px;
      height: 129px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
      border-radius: 20px;
      display: flex;
      column-gap: 20px;
      justify-content: center;
      padding: 20px 0;
    }
  }
  &__logo {
    display: none;
  }
  &__right {
    padding: 0 120px 0;
  }
}

.play {
  padding: 0 50px;
  transform: translate(19px, -165%);
  width: 285px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: linear-gradient(267.51deg, #FFCB00 0%, #FF9900 85.79%);
  border-radius: 65.89px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: 1s;
}
.play:hover {
  transition: 1s;
  background: white;
  color: #ffcb00;
}


@media (max-width: 768px) {
  .information {
    &__block {
      padding: 14px 13px;
    }
    &__right {
      padding: 0 80px 0;
    }
    &__title {
      font-size: 40px;
    }
    &__desc {
      font-size: 16px;
    }
    &__price {
      font-size: 24px;
      padding: 0;
      &-block {
        width: 230px;
        height: 122px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (max-width: 600px) {

  .information {
    &__block {
      display: block;
      justify-content: center;
      align-items: center;
    }
    &__title {
      text-align: center;
      font-size: 30px;
    }
    &__desc {
      text-align: center;
    }
    &__price {
      &-block {
        margin: 0 auto;
      }
    }
    &__right {
      padding: 0 130px 0;
    }
  }
}

@media (max-width: 480px) {
  .information {
    &__right {
      padding: 0 65px 0;
    }
  }
}

@media (max-width: 425px) {
  .information {
    &__right {
      padding: 0 40px 0;
    }
  }
}

@media (max-width: 375px) {
  .information {
    &__left {
      height: 230px;
    }
    &__right {
      padding: 0 40px 0;
    }
    &__block {
      padding: 3px 12px;
    }
    &__price {
      &-block {
        padding: 8px 0;
      }
    }
  }
}


@media (max-width: 320px) {
  .information {
    &__title {
      font-size: 18px;
    }
    &__desc {
      font-size: 14px;
    }
    &__right {
      padding: 0 20px 0;
    }
  }
}








