@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Stapel, sans-serif;
}

body {
  background: url("../assets/background.png") center/cover no-repeat;
  height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

a, button {
  cursor: pointer;
}

.main {
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__logo {
  width: 100px;
}
.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__wrapper-left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__wrapper-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 612.01px;
}
.header__balance {
  height: 66px;
  width: 180.57px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 204, 113, 0.5)), to(rgba(20, 47, 58, 0.5)));
  background: linear-gradient(90deg, rgba(0, 204, 113, 0.5) 0%, rgba(20, 47, 58, 0.5) 100%);
  border-radius: 54.14px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.header__balance-title {
  font-size: 20.46px;
  font-weight: 400;
  color: white;
}
.header__balance-total {
  color: white;
  font-size: 20.46px;
  font-weight: 600;
}
.header__help-btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  width: 195.78px;
  height: 66px;
  padding: 0 12px;
  border-radius: 54.14px;
  border: 1px solid white;
  font-family: Monserrat, sans-serif;
  background: transparent;
}
.header__help-btn svg {
  width: 36.66px;
  height: 36.66px;
}
.header__help-btn span {
  font-size: 25.27px;
  font-weight: 500;
  color: white;
}
.header__close-btn {
  width: 66.33px;
  height: 66.33px;
  background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
  border: none;
  border-radius: 12.31px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__close-btn span {
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  border: none;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
.header__close-btn span:after {
  content: "";
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  border: none;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

@media (max-width: 767px) {
  .header__wrapper-left {
    display: inline;
  }
  .header__balance {
    width: 100px;
    height: 42px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__balance-title {
    font-size: 10px;
  }
  .header__balance-total {
    font-size: 10px;
  }
  .header__chips svg {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 425px) {
  .header__help-btn {
    width: 50px;
    height: 50px;
    border: 1px solid white;
  }
  .header__help-btn span {
    display: none;
  }
  .header__help-btn svg {
    width: 50px;
    height: 50px;
  }
  .header__close-btn {
    width: 50px;
    height: 50px;
  }
  .header__close-btn span {
    width: 4.97px;
    height: 35.44px;
    border: none;
    background: white;
    display: inline-block;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  .header__close-btn span:after {
    content: "";
    width: 4.97px;
    height: 35.44px;
    border-radius: 13.95px;
    border: none;
    background: white;
    display: inline-block;
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}
.information__title {
  font-size: 50px;
  color: white;
  font-family: Stapel, sans-serif;
  padding: 10px 20px;
}
.information__desc {
  font-weight: 400;
  font-size: 20px;
  padding: 0 20px;
  color: white;
}
.information__block {
  padding: 30px 20px;
}
.information__price {
  padding: 10px 0;
  font-size: 29px;
  color: white;
}
.information__price-block {
  width: 285px;
  height: 129px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.37)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.play {
  padding: 0 50px;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  width: 285px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(267.51deg, #FFCB00 0%, #FF9900 85.79%);
  border-radius: 65.89px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.play:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  color: #ffcb00;
}

@media (max-width: 767px) {
  .information__title {
    font-size: 24px;
    text-align: center;
  }
  .information__desc {
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .information__title {
    padding: 0 0 0;
    font-size: 16px;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal__box {
  margin: 30px 15px;
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  background: transparent;
  -webkit-box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.modal__close {
  width: 66.33px;
  height: 66.33px;
  background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
  border: none;
  position: fixed;
  border-radius: 13.95px;
  top: 0;
  left: 953px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__close span {
  width: 9.97px;
  height: 45.44px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 13.45px;
}
.modal__close span:after {
  content: "";
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
.modal__title {
  padding: 100px;
  font-size: 66px;
  font-weight: 600;
  color: white;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}