@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Stapel, sans-serif;
}

body {
  background: url("../assets/background.png") center/cover no-repeat;
  height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

a, button {
  cursor: pointer;
}

.main {
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}
.header__logo {
  width: 100px;
}
.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__wrapper-left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header__wrapper-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 612.01px;
}
.header__balance {
  height: 66px;
  width: 180.57px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 204, 113, 0.5)), to(rgba(20, 47, 58, 0.5)));
  background: linear-gradient(90deg, rgba(0, 204, 113, 0.5) 0%, rgba(20, 47, 58, 0.5) 100%);
  border-radius: 54.14px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.header__balance-title {
  font-size: 20.46px;
  font-weight: 400;
  color: white;
}
.header__balance-total {
  color: white;
  font-size: 20.46px;
  font-weight: 600;
}
.header__help-btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
  width: 195.78px;
  height: 66px;
  padding: 0 12px;
  border-radius: 54.14px;
  border: 1px solid white;
  font-family: Monserrat, sans-serif;
  background: transparent;
}
.header__help-btn svg {
  width: 36.66px;
  height: 36.66px;
}
.header__help-btn span {
  font-size: 25.27px;
  font-weight: 500;
  color: white;
}
.header__close-btn {
  width: 66.33px;
  height: 66.33px;
  background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
  border: none;
  border-radius: 12.31px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__close-btn span {
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  border: none;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
.header__close-btn span:after {
  content: "";
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  border: none;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

@media (max-width: 768px) {
  .header__balance {
    height: 59px;
    width: 150.57px;
  }
  .header__balance__title {
    font-size: 18.46px;
  }
  .header__balance-total {
    font-size: 15.46px;
  }
  .header__chips svg {
    width: 30px;
    height: 30px;
  }
  .header__help-btn {
    width: 155.78px;
    height: 59px;
  }
  .header__help-btn svg {
    width: 30.66px;
    height: 30.66px;
  }
  .header__help-btn span {
    font-size: 18.27px;
  }
  .header__close-btn {
    height: 59px;
    width: 59px;
  }
  .header__close-btn span {
    width: 6.97px;
    height: 45.44px;
  }
  .header__close-btn span:after {
    width: 6.97px;
    height: 45.44px;
  }
}
@media (max-width: 600px) {
  .header__wrapper-left {
    display: block;
  }
  .header__balance {
    height: 36px;
    width: 100.57px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__balance-title {
    font-size: 11.46px;
  }
  .header__chips svg {
    width: 20px;
    height: 20px;
  }
  .header__help-btn {
    width: 130.78px;
    height: 50px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .header__help-btn svg {
    width: 20.66px;
    height: 20.66px;
  }
  .header__close-btn {
    width: 50px;
    height: 50px;
  }
  .header__close-btn span {
    width: 5px;
    height: 35px;
  }
  .header__close-btn span:after {
    width: 5px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 15px 0;
  }
  .header__logo {
    display: none;
  }
  .header__balance {
    padding: 0 5px;
    height: 31px;
    width: 60.57px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .header__balance-title {
    font-size: 8px;
  }
  .header__balance-total {
    font-size: 8px;
  }
  .header__chips svg {
    width: 14px;
    height: 14px;
  }
  .header__help-btn {
    width: 99.78px;
    height: 36px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .header__help-btn span {
    font-size: 14px;
  }
  .header__help-btn svg {
    width: 15px;
    height: 15px;
  }
  .header__close-btn {
    width: 36px;
    height: 36px;
  }
  .header__close-btn span {
    width: 3px;
    height: 25px;
  }
  .header__close-btn span:after {
    width: 3px;
    height: 25px;
  }
}
@media (max-width: 375px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__logo {
    display: none;
  }
  .header__help-btn {
    padding: 3px 0 0;
    width: 36px;
    height: 36px;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__help-btn svg {
    width: 20px;
    height: 20px;
  }
  .header__help-btn span {
    font-size: 14px;
  }
}
.information__title {
  font-size: 50px;
  color: white;
  font-family: Stapel, sans-serif;
  padding: 10px 20px;
}
.information__desc {
  font-weight: 400;
  font-size: 20px;
  padding: 0 20px;
  color: white;
}
.information__block {
  padding: 30px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.information__price {
  padding: 10px 0;
  font-size: 29px;
  color: white;
}
.information__price-block {
  width: 285px;
  height: 129px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.37)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.information__logo {
  display: none;
}
.information__right {
  padding: 0 120px 0;
}

.play {
  padding: 0 50px;
  -webkit-transform: translate(19px, -165%);
          transform: translate(19px, -165%);
  width: 285px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  background: linear-gradient(267.51deg, #FFCB00 0%, #FF9900 85.79%);
  border-radius: 65.89px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.play:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  color: #ffcb00;
}

@media (max-width: 768px) {
  .information__block {
    padding: 14px 13px;
  }
  .information__right {
    padding: 0 80px 0;
  }
  .information__title {
    font-size: 40px;
  }
  .information__desc {
    font-size: 16px;
  }
  .information__price {
    font-size: 24px;
    padding: 0;
  }
  .information__price-block {
    width: 230px;
    height: 122px;
  }
  .information__price-block svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .information__block {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information__title {
    text-align: center;
    font-size: 30px;
  }
  .information__desc {
    text-align: center;
  }
  .information__price-block {
    margin: 0 auto;
  }
  .information__right {
    padding: 0 130px 0;
  }
}
@media (max-width: 480px) {
  .information__right {
    padding: 0 65px 0;
  }
}
@media (max-width: 425px) {
  .information__right {
    padding: 0 40px 0;
  }
}
@media (max-width: 375px) {
  .information__left {
    height: 230px;
  }
  .information__right {
    padding: 0 40px 0;
  }
  .information__block {
    padding: 3px 12px;
  }
  .information__price-block {
    padding: 8px 0;
  }
}
@media (max-width: 320px) {
  .information__title {
    font-size: 18px;
  }
  .information__desc {
    font-size: 14px;
  }
  .information__right {
    padding: 0 20px 0;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal__box {
  margin: 30px 15px;
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  background: transparent;
  -webkit-box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.modal__close {
  width: 66.33px;
  height: 66.33px;
  background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
  border: none;
  position: fixed;
  border-radius: 13.95px;
  top: 0;
  left: 953px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__close span {
  width: 9.97px;
  height: 45.44px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 13.45px;
}
.modal__close span:after {
  content: "";
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
.modal__title {
  padding: 100px;
  font-size: 66px;
  font-weight: 600;
  color: white;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.warning {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.warning__box {
  margin: 30px 15px;
  max-width: 100%;
  height: 100vh;
  z-index: 1;
  background: transparent;
  -webkit-box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.warning__close {
  width: 66.33px;
  height: 66.33px;
  background: linear-gradient(226.27deg, #FF2171 2.12%, #FF314A 100%);
  border: none;
  position: fixed;
  border-radius: 13.95px;
  top: 0;
  left: 953px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.warning__close span {
  width: 9.97px;
  height: 45.44px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 13.45px;
}
.warning__close span:after {
  content: "";
  width: 9.97px;
  height: 45.44px;
  border-radius: 13.95px;
  background: white;
  display: inline-block;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
.warning__title {
  padding: 100px;
  font-size: 66px;
  font-weight: 600;
  color: white;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.spin__block {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spin__block .spin__btn {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  border: 4px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spin__block .spin__btn::before {
  content: "";
  position: absolute;
  top: -28px;
  width: 20px;
  height: 30px;
  background: #fff;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.spin__block .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
          box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
  -webkit-transition: -webkit-transform 5s ease-in-out;
  transition: -webkit-transform 5s ease-in-out;
  transition: transform 5s ease-in-out;
  transition: transform 5s ease-in-out, -webkit-transform 5s ease-in-out;
  will-change: transform;
}

.spin__block .wheel .number {
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--clr);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(calc(45deg * var(--i)));
          transform: rotate(calc(45deg * var(--i)));
  clip-path: polygon(0 0, 59% 0, 100% 100%, 0 59%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.spin__block .wheel .number span {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.spin__block .wheel .number span::after {
  content: "$";
  position: absolute;
  font-size: 0.75em;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .spin__block {
    width: 350px;
    height: 350px;
  }
  .number span {
    font-size: 27px;
  }
}
@media (max-width: 900px) {
  .spin__block {
    width: 300px;
    height: 300px;
  }
  .spin__btn {
    width: 50px;
    height: 50px;
  }
  .number span {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .spin__block {
    width: 250px;
    height: 250px;
  }
  .spin__block .wheel .number span {
    font-size: 24px;
  }
  .play {
    width: 230px;
    -webkit-transform: translate(13px, -165%);
            transform: translate(13px, -165%);
  }
}
@media (max-width: 600px) {
  .play {
    -webkit-transform: translate(141px, -161%);
            transform: translate(141px, -161%);
  }
}
@media (max-width: 480px) {
  .play {
    -webkit-transform: translate(82px, -161%);
            transform: translate(82px, -161%);
  }
}
@media (max-width: 425px) {
  .play {
    -webkit-transform: translate(54px, -161%);
            transform: translate(54px, -161%);
  }
  .spin__block {
    width: 220px;
    height: 220px;
  }
  .number span {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .play {
    -webkit-transform: translate(30px, -161%);
            transform: translate(30px, -161%);
  }
}
@media (max-width: 320px) {
  .play {
    -webkit-transform: translate(12px, -161%);
            transform: translate(12px, -161%);
  }
  .spin .wheel .number span {
    font-size: 18px;
  }
}